{% extends "base.html" %}

{% block title %}Login | BiblioTech{% endblock %}

{% block content %}
<h1>Login</h1>
<div class="highlighted-text">Access your account to manage your personal library.
{% if error %}
    <p class="error-message">{{ error }}</p>
{% endif %}
<form action="{{ url_for('routes.login') }}" method="POST" class="login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
</form>
</div>
{% endblock %}
