{% extends "base.html" %}

{% block title %}Sign Up | BiblioTech{% endblock %}

{% block content %}

<section class="auth-container">


    <div class="back-btn-container">
    <a href="{{ url_for('routes.index') }}" class="btn">
        &larr; Back to Home
    </a>
    </div>

    <h1>Sign Up</h1>

    <p class="highlighted-text">
        Create an account to start managing your personal library.
    </p>

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% else %}

    <form action="{{ url_for('routes.signup') }}" method="POST" class="styled-form">

        <div class="form-group">
            <label for="username">Username:</label>
            <input 
                type="text" 
                id="username" 
                name="username" 
                placeholder="Enter username"
                required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>

            <div class="password-field">
                <input 
                    type="password" 
                    id="password" 
                    name="password"
                    placeholder="Enter password"
                    required>

                <button 
                    type="button"
                    id="togglePassword"
                    class="eye-icon open"
                    aria-label="Show password"
                    aria-pressed="false">
                </button>
            </div>

        </div>

        <button type="submit" class="btn">
            Sign Up
        </button>

    </form>

    <div class="highlighted-text">
        <div class="form-switch">
            Already have an account?
            <a href="{{ url_for('routes.login') }}" class="btn">Login</a>
        </div>
    </div>

    {% endif %}

</section>

{% endblock %}