{% extends "base.html" %}

{% block title %}About BiblioTech{% endblock %}

{% block content %}

<div class="back-btn-container">
<a href="{{ url_for('routes.index') }}" class="btn">
    &larr; Back to Home
</a>
</div>

<div class="highlighted-text">

<h1 class="about-section">About BiblioTech</h1>

    <p class="book-data-bg">
        Welcome to BiblioTech, a book discovery platform designed to help users explore, discover, and manage their personal book collections.
    </p>

    <h2 class="about-section">What is BiblioTech?</h2>

    <p class="book-data-bg">
        BiblioTech is a Flask-based web application that allows users to search for books using the Google Books API, view detailed book information, and build their own personal library.
    </p>

    <p class="book-data-bg">
        Future features include user accounts, book reviews, ratings, and personalised library management.
    </p>

    <h2 class="about-section">The Meaning Behind the Name</h2>

    <p class="book-data-bg">
        The name BiblioTech combines "Biblio", derived from the Greek word "biblios" meaning book, with "Tech" to represent the combination of traditional reading and modern technology.
    </p>
</div>
{% endblock %}