{% extends "base.html" %}

{% block title %}About BiblioTech{% endblock %}

{% block content %}
    <h1>About BiblioTech</h1>
    <p class="highlighted-text">Welcome to BiblioTech! We are a simple library management system designed to help you organize and manage your book collection.</p>

    <h2>What is BiblioTech?</h2>
    <p class="highlighted-text">BiblioTech is a web-based application that allows users to create and maintain a digital library of their books. It provides features for adding, editing, and deleting book entries, as well as searching and filtering capabilities.</p>

    <p class="highlighted-text">The inspiration for the name Biblio came from the Greek word "biblios" (book) and Tech which combines the old "library" concept with modern technology.</p>

{% endblock %}